{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}
{% block body %}
    {% if form %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-8">
                <form method="POST">
                    {% csrf_token %}
                    <table>
                        {{ form }}
                    </table>
                    <input type="submit" value="submit" class="btn btn-danger" style="margin-left:150px;">

                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    {% else %}
    <h1>{{ error }}</h1>
    {% endif %}
{% endblock %}